#score {
    text-align: center;
    font-size: 50px;
}

#game {
    width: 600px;
    height: 300px;
    border: 2px solid purple; 
    margin: auto;
    background-color: seagreen;
}

#dinosaur {
    height: 75px;
    width: 75px;
    position: relative; /* static;   fixed;  absolute; */
    top: 165px;
    background-image: url(dino.png);
    background-size: cover;     /* contain; auto */ 
}

#cactus {
    height: 50px;
    width: 50px;
    top: 115px;
    left: 550px;
    position: relative;
    background-image: url(cactus.png);
    background-size: cover;
    animation: cactus 2s infinite;
}

@keyframes cactus {
    0%{left: 550px;}
    100%{left: -50px;}
}

.jump-animation {
    animation: jump 0.5s;
}

@keyframes jump {
    0%{top: 165px;}
    50%{top: 15px;}
    75%{top: 15px;}
    100%{top: 165px;}
}